<p>pipe works!</p>
<div class="form">
    <pre class="var">
        <div>
            <p>Today is <b>{{today | date}}</b></p>
            <p>Or if you prefer, <b>{{today | date:'fullDate'}}</b></p>
            <p>The time is <b>{{today | date:'h:mm a z'}}</b></p>
            <p>The time is <b>{{today | date:'M/d/yy, h:mm a'}}</b></p>
            <p>The time is <b>{{today | date:'MMM d, y'}}</b></p>
            <p>The time is <b>{{today | date:'h:mm:ss a z'}}</b></p>
        </div>
    </pre>
</div>